*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'roboto';
    src: url('./assets/font/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 100;
}

body{
    font-family: roboto;
    position: relative;
}


.btn{
    background-color: #007bc1;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}


/*notification section */
.fixed-top{
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1030;
}


#notification-panel{
    background-color: #e5e5e5;
    transition: all 1.5s linear;
}

.notification-link{
    cursor: pointer;
    color: #007bc1;
}

.moving {
    transform: translateY(-200px);
}

.notification-container{
    max-width: 720px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.notification-container p{
   font-size: 14px;
   max-width: 500px;
   padding: 0px 34px;
}

.btn-notif{
    font-size: 16px;
    max-width: 42px;
    margin:auto 0;
    top : 0;
    margin-left: 20px;
}



/*header section */
.header{
    background: #007bc1 center center no-repeat;
    background-image: url('./assets/images/work-desk__dustin-lee.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    color: white;
    margin-top: 58px;
    transition: all .5s linear;
}

.to-top{
    margin-top: 0;
}

.container{
    padding: 0 40px;
    text-align: center;
    margin: auto;
}

#header-logo{
    text-align: left;
}

#img-logo{
    max-width: 50px;
    max-height: 50px;
}


#headline{
    line-height: 1.7;
   padding: 146px 0;
}

#headline-name {
    font-weight: normal;
}

.headline p  {
    font-size: 22px;
    max-width: 40%;
    margin: auto;
}

.btn.btn-action {
    text-transform: uppercase;
    font-size: 18px;
    max-width: 55%;
    margin: auto;
    margin-top:40px;
    background-color:transparent;
    border: 1px solid #fff
}

.btn.btn-action:hover {
   background-color: white;
   color: #007bc1;
}





/* hightlight section*/

#highlight-section{
    background-color: #e5e5e5;
   
}

#highlight-header{
    padding: 80px 0 0;
}

#highlight-subtitle{
    max-width: 550px;
    margin: 20px auto 0;
}

#highlight-panel{
    display: grid;
    grid-template-columns: minmax(min-content, 428px) minmax(min-content, 428px) minmax(min-content, 428px) ;
    grid-gap: 30px;
    padding: 50px 0;
    justify-content: space-between;
}

.highlight-items-header{
   display: flex
}

.highlight-items{
    border: 1px solid;
    padding: 20px;
}

.highlight-items-header i{
    margin-left:auto;
}

.highlight-items-content-container{
    margin-top: 10px;
}

.highlight-items-content{
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    max-width: 373px;
}

/*footer section */
.footer-container{
    background-color: #004a75;
    color: white;
    padding: 50px;
    text-align: center;
}

/*newsteller section */
.newsteller{
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    display: none;
    max-width: 640px;
    opacity: .9;
}

.slide-in {
    display: block;
    position: absolute;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: .9}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: .9}
}


.slide-out {
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 0.4s;
    animation-name: slideOut;
    animation-duration: 0.4s; 
    
}
@-webkit-keyframes slideOut {
    0%{
        bottom: 0;
        opacity: .9;
      }
      100%{
        display: none;
        bottom: -300px; 
        opacity: 0;
      }
}

@keyframes slideOut {
    0%{
        bottom: 0;
        opacity: .9;
      }
      100%{
        display: none;
        bottom: -300px; 
        opacity: 0;
      }
}

.newsteller-container{
    background: #007bc1 center center no-repeat;
    color: white;
    padding: 30px 20px;
}

.close-continer{
    float:right;
}

.close-continer i{
    cursor: pointer;
}

.newsteller-title {
    margin: 10px 0;
}
.newsteller-content {
    line-height: 1.5;
    font-size: 1em;
}

.newsteller-form{
    margin-top:20px
}

.newsteller-form input[type="email"] {
    width: 70%;
    padding: 3px 10px;
    border-radius: 3px;
}

.newsteller-form input[type="button"] {
    background-color: #ff8800;
    padding: 5px 10px;
}



/*mobile screen */
@media (max-width: 480px){
    #notification-panel{
        padding: 10px 20px;
    }
    .notification-container{
        display: block;
        padding: 0px;
    }
    .notification-container p {
        font-size: .8em;
        margin-bottom: 10px;
        padding: 0px;
    }
    .btn-notif {
        margin-left: 0;
        font-size: 12px;
    }

    .header{
        margin-top: 107px;
        transition: all .8s linear;
    }

    .to-top{
        margin-top: 0;
    }

    .container{
        padding: 0 20px;
    }

    #header-logo {
        padding: 0 20px;
    }

    #img-logo {
        max-width: 40px;
    }

    #headline{
        padding: 45px 0;
    }

    #headline-name {
        font-size: 23px;
    }

    #headline-highlight {
        font-size: 1.2em;
        padding: 0 40px;
    }

    #headline-desc{
        font-size: 1.1em;
        padding: 0 25px;
    }

    .btn.btn-action{
        font-size: 0.8em;
        padding: 10px 11px;
    }


    #highlight-header {
        padding: 50px 0 0;
    }
    #highlight-header h1 {
        font-size: 1.9em;
        font-weight: normal;
    }
   

    #highlight-subtitle {
        margin-top: 15px;
        font-size: 20px;
    } 
    #highlight-panel {
        grid-template-columns: auto;
    }

    .footer-container{
        padding: 20px;
        font-size: .85em;
    }

    .newsteller-container{
        padding: 10px;
    }

    .newsteller-title {
        font-size: 1.5em;
    }

    .newsteller-form input[type="email"] {
        width: 91%;
        margin-bottom: 10px;
    }
    .newsteller-form input[type="button"] {
    
        width: 99%;
    }
}

@media (min-width:481px) and (max-width: 960px){
    #highlight-panel {
        grid-template-columns: auto auto;
    }
}

@media  (max-width: 349px){
    .header {
        margin-top: 124px;
        transition: all .9s linear;
    }
    .to-top{
        margin-top: 0;
    }
}

@media screen and (min-width: 1380px){
    .container {
        width: 1360px;
    }
    .header {
        margin-top: 150px;
        transition: all 1.2s linear;
    }

    .to-top{
        margin-top: 0;
    }
}