*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'roboto';
    src: url('./assets/font/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 100;
}

body{
    font-family: roboto;
}

.header{
    background: #004AD8 center center no-repeat;
    background-image: url('./assets/images/work-desk__dustin-lee.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    color: white
}

.container{
    padding: 0 40px;
    text-align: center;
}

#header-logo{
    text-align: left;
}

#img-logo{
    max-width: 50px;
    max-height: 50px;
}


#headline{
    line-height: 1.7;
   padding: 146px 0;
}

#headline h1:first-child {
    font-weight: normal;
}

p {
    font-size: 22px;
    max-width: 40%;
    margin: auto;
}

.btn.btn-action {
    text-transform: uppercase;
    font-size: 18px;
    max-width: 55%;
    margin: auto;
    margin-top:40px;
    background-color:transparent;
    border: 1px solid #fff
}

.btn.btn-action:hover {
   background-color: white;
   color: #007bc1;
}


.btn{
    background-color: #007bc1;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}


/* hightlight section*/

#highlight-section{
    background-color: #e5e5e5;
   
}

#highlight-header{
    padding: 80px 0 0;
}

#highlight-subtitle{
    max-width: 57%;
    margin-top: 12px;
}

#highlight-panel{
    display: grid;
    grid-template-columns: minmax(min-content, 428px) minmax(min-content, 428px) minmax(min-content, 428px) ;
    grid-gap: 30px;
    padding: 50px 0;
    justify-content: space-between;
}

.highlight-items-header{
   display: flex
}

.highlight-items{
    border: 1px solid;
    padding: 20px;
}

.highlight-items-header i{
    margin-left:auto;
}

.highlight-items-content-container{
    margin-top: 10px;
}

.highlight-items-content{
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    max-width: 373px;
}

/*footer section */
.footer-container{
    background-color: #004a75;
    color: white;
    padding: 50px;
}